<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Category Info
            </div>
            <div class="panel-body">
                <p>
                  <b>Category name:</b>
                  <%= category_name %>
                </p>

                <p>
                  <b>Quality:</b>
                  <%= quality %>
                </p>

                <p>
                    <b>Weight in stock:</b>
                    <%= weight_in_stock %>
                </p>


                <p>
                    <b>Amount Spent:</b>
                    <%= amount_spent %>
                </p>

                <h3>Today's Rate/GM: &#8377; <%= todays_rate %></h3>
            </div>
        </div>
    </div>
</div>