<td><%= category_name %></td>
<td><%= quality %></td>
<td>&#8377; <%= todays_rate %></td>
<td><%= weight_in_stock %> gm</td>
<td>&#8377; <%= amount_spent %></td>

<td><a href="#/<%= id %>" class="btn btn-xs btn-success btn-block">Show</a></td>
<td><a href="#/<%= id %>/edit" class="btn btn-xs btn-default btn-block">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy btn btn-xs btn-danger btn-block">Destroy</a></td>
