<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Item Info</h4>
            </div>
            <div class="panel-body">
                <p>
                  <b>SKU:</b>
                  <span class="pull-right"><%= sku %></span>
                </p>

                <p>
                  <b>Name:</b>
                    <span class="pull-right"><%= name %></span>
                </p>

                <p>
                  <b>Category:</b>
                    <span class="pull-right"><%= category_name %></span>
                </p>

                <p>
                  <b>Purchase rate:</b>
                    <span class="pull-right"><%= purchase_rate %></span>
                </p>

                <p>
                  <b>Quantity:</b>
                    <span class="pull-right"><%= quantity %></span>
                </p>

                <p>
                  <b>Weight:</b>
                    <span class="pull-right"><%= weight %> gm</span>
                </p>

                <p>
                  <b>GST rate:</b>
                    <span class="pull-right"><%= gst_rate %> %</span>
                </p>
            </div>
        </div>
    </div>
</div>