<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Customer Info
            </div>
            <div class="panel-body">
                <p>
                  <b>Name:</b>
                    <span class="pull-right"><%= name %></span>
                </p>

                <p>
                  <b>Address:</b>
                    <span class="pull-right"><%= address %></span>
                </p>

                <p>
                  <b>Email:</b>
                    <span class="pull-right"><%= email %></span>
                </p>

                <p>
                  <b>Contact:</b>
                    <span class="pull-right"><%= contact %></span>
                </p>

                <p>
                  <b>Total amount:</b>
                    <span class="pull-right"><%= total_amount %></span>
                </p>

                <p>
                  <b>Paid amount:</b>
                    <span class="pull-right"><%= paid_amount %></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6"></div>
</div>