<h2>New Store</h2>
<br/>
<form id="new-store_configuration" name="store_configuration" class="form-horizontal">
  <div class="field form-group">
    <label for="store_name" class="col-lg-2 col-md-2 control-label"> Store Name:</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" name="store_name" id="store_name" value="<%= store_name %>" class="form-control">
    </div>
  </div>

  <div class="field form-group">
    <label for="store_desc" class="col-lg-2 col-md-2 control-label"> Store Description:</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" name="store_desc" id="store_desc" value="<%= store_desc %>" class="form-control">
    </div>
  </div>

  <div class="field form-group">
    <label for="email" class="col-lg-2 col-md-2 control-label"> Email:</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" name="email" id="email" value="<%= email %>" class="form-control">
    </div>
  </div>

  <div class="field form-group">
    <label for="phone" class="col-lg-2 col-md-2 control-label"> Phone:</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" name="phone" id="phone" value="<%= phone %>" class="form-control">
    </div>
  </div>

  <div class="field form-group">
    <label for="website" class="col-lg-2 col-md-2 control-label"> Website:</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" name="website" id="website" value="<%= website %>" class="form-control">
    </div>
  </div>

  <div class="field form-group">
    <label for="address" class="col-lg-2 col-md-2 control-label"> Address:</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" name="address" id="address" value="<%= address %>" class="form-control">
    </div>
  </div>

  <div class="field form-group">
    <label for="gstn" class="col-lg-2 col-md-2 control-label"> GSTN:</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" name="gstn" id="gstn" value="<%= gstn %>" class="form-control">
    </div>
  </div>

  <div class="form-group">
     <div class="actions col-lg-offset-2 col-lg-6">
        <input type="submit" value="Add Store configuration" class="btn btn-primary btn-sm" />
     </div>
  </div>

</form>
