<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Store info</strong>
            </div>
            <div class="panel-body">
                <p>
                  <b>Store name:</b>
                    <span class="pull-right"><%= store_name %></span>
                </p>

                <p>
                  <b>Store desc:</b>
                    <span class="pull-right"><%= store_desc %></span>
                </p>

                <p>
                  <b>Email:</b>
                    <span class="pull-right"><%= email %></span>
                </p>

                <p>
                  <b>Phone:</b>
                    <span class="pull-right"><%= phone %></span>
                </p>

                <p>
                  <b>Website:</b>
                    <span class="pull-right"><%= website %></span>
                </p>

                <p>
                  <b>Address:</b>
                    <span class="pull-right"><%= address %></span>
                </p>

                <p>
                  <b>Gstn:</b>
                    <span class="pull-right"><%= gstn %></span>
                </p>
            </div>
        </div>
    </div>
</div>