<td><%= store_name %></td>
<td><%= store_desc %></td>
<td><%= email %></td>
<td><%= phone %></td>
<td><%= website %></td>
<td><%= address %></td>
<td><%= gstn %></td>

<td><a href="#/<%= id %>" class="btn btn-success btn-xs btn-block">Show</a></td>
<td><a href="#/<%= id %>/edit" class="btn btn-primary btn-xs btn-block">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy btn btn-danger btn-xs btn-block">Destroy</a></td>
